main {
    width: 100%;
    margin: auto;
    padding-top: 2rem;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
    width: 60%;
    max-width: 450px;
}

em {
    color: red;
}

#iframe {
    position: relative;
    height: 300px;
    width: 300px;
}

canvas {
    background-color: rgba(10,314,10, 0.4);
}