main {
    width: 60%;
    margin: auto;
    padding-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

em {
    color: red;
}

.media-container {
    margin-inline: auto;
    margin-block: .5rem;
    display: grid; /* imperative */
    width: 50%;
    min-width: 250px;
}

.media-container > * { /* imperative */
    justify-self: center;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}


canvas {
    background-color: rgba(10,314,10, 0.4);
 
}

table {
    width: 100%;
    max-width: 300px;
    text-align: center;
}